@model List<NewspaperMVCProject.EntityLayer.Entities.Concrete.Post>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h4 class="box-title">List of Posts</h4>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Header</th>
                                <th>Content</th>
                                <th>Image</th>
                                <th>Category</th>
                                <th>Author</th>
                                <th>Details</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Header</td>
                                    <td>@item.Content</td>
                                    <td>
                                        <img src="@item.ImagePath" width="70" height="70" />
                                    </td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.AppUser.FirstName @item.AppUser.LastName</td>
                                    <td>
                                        <a href="/Admin/Post/Details/@item.Id" class="btn btn-sm btn-info">Details</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Post/Update/@item.Id" class="btn btn-sm btn-warning">Update</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Post/Delete/@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="/Admin/Post/Create" class="btn btn-block btn-primary">Create The Post</a>
                </div>
            </div>
        </div>
    </div>
</section>


